<a href="https://colab.research.google.com/github/suin524/eoullimTeam17/blob/main/2022_9_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
df=pd.DataFrame({'name'   :  ['김지훈', '이유진', '박동현', '김민지'],
                 'english':  [90, 80 ,60, 70],
                 'math'   :  [50, 60, 100,20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [3]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [4]:
sum(df['english'])

300

In [9]:
sum(df['english'])/4

75.0

In [20]:
df=pd.DataFrame({'제품': ['사과','딸기','수박'],
'가격': [1800,1500,300],
'판매량': [24,38,13]})
df

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박   300   13

In [14]:
len(df['판매량'])

3

In [22]:
sum(df['판매량'])/3

25.0

In [23]:
sum(df['판매량'])/len(df['판매량'])

25.0